.filter-box {
	padding: 0 5px 5px 0;
	height: 2em;
	background-color: white;
}

.filter-box > div {
	width: 100%;
	height: 100%;
	position: relative; 
	border: 1px solid grey; 
	padding: 2px;
	border-radius: 5px;
	transition: backround-color 300ms;
}

.filter-box > div.focused {
	outline: none;
	box-shadow: 0 0 3pt 2pt #b6ebfd;
	border-color: #c0c0c0;
}

.filter-box > div.focused, .filter-box > div.focused input {
	background-color: #ffffe9;
}

.filter-box input {
	border: none;
	position: relative; 
	height: 100%;
	width: 100%; 
	box-sizing: border-box; 
	transition: backround-color 300ms;
}
 
.filter-box :focus {
	outline: none;
}

.filter-box .fb-input {
	position: absolute; 
	top: 2px;
	bottom: 2px;
	left: 2px; 
	right: 50px
}

.filter-box .fb-clear-button {
	position: absolute; 
	top: 0; 
	bottom: 0; 
	right: 30px; 
	cursor: pointer;
}

.filter-box .fb-clear-button.disabled {
	color: silver;
	cursor: default;
}

.filter-box .fb-clear-button > i {
	position: relative; 
	top: 50%; 
	transform: translateY(-50%)
}

.filter-box button.fb-search {
	position: absolute; 
	max-width: 30px; 
	right: 0; 
	top: 0; 
	bottom: 0; 
	border: none; 
	border-radius: 0 5px 5px 0; 
	border-left: 1px solid grey;
	cursor: pointer;
	transition: background-color 300ms
}

.filter-box button.fb-search:hover {
	box-shadow: 0 0 3pt 2pt #b6ebfd;
	background-color: #fcfcdf;
	border: none;
}