.float-button {
	position: fixed;  
	color: white; 
	text-align: center; 
	background-color: #2197be; 
	border-radius: 50px; 
	width: 60px; 
	height: 60px; 
	box-shadow: 2px 2px 3px #999;
	cursor: pointer;
	transition: transform 300ms;
}

.float-button.disabled, .float-button:hover.disabled {
	background-color: silver !important;
	transform: none;
	box-shadow: 1px 1px 2px #999;
	cursor: default;
}

.float-button:hover {
	transform: translate(-1px, -1px) scale(1.08);
	box-shadow: 3px 3px 3px #999;
}

.float-button * {
	position: relative; 
	font-size: 24px; 
	top: 50%; 
	transform: translateY(-50%)
}