body {
	font-family: 'Roboto', sans-serif;
}

::placeholder {
  color: #0098bb;
  opacity: 0.6; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #0098bb;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #0098bb;
}

#side-bar {
	position: fixed; 
	overflow: auto; 
	top: 0; 
	bottom: 0; 
	left: 0; 
	width: 300px; 
	padding: 20px 50px; 
	background-color: #f6f6f6
}

#jstree {
	font-size: 11pt;
}

#filter {
	width:100%; 
	margin: 5px 0 15px 0;
}

#content {
	position: absolute; 
	top: 0; 
	left: 400px;
	right: 0; 
	bottom: 0; 
	overflow: auto; 
	padding: 20px; 
}

#add-button {
	left: 270px;
	bottom: 60px;
}

#edit-button {
	right: 60px; 
	bottom: 60px;
}

#delete-button {
	right: 70px; 
	bottom: 140px; 
	width: 40px; 
	height: 40px; 
	font-size: 18px; 
	background-color: red;
}

#node-modal {
	height: 80%;
	width: 80%;
	max-width: 80%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

#node-modal input, #node-modal textarea {
	font-size: 16px;
}

.jstree-anchor.node-filtered {
	color: #b2b2b2;
}