.node-form {
	width: 100%;
	height: 100%;
	position: relative;
}

.node-form input[type=text], .node-form textarea {
	width: 100%;
	border: 1px solid silver;
	border-radius: 5px;
	box-sizing: border-box;
}

.node-form input[type=text] {
	height: 2.5em;
}

.node-form input:focus[type=text], .node-form textarea:focus {
	outline: none;
	box-shadow: 0 0 3pt 2pt #b6ebfd;
	border-color: #c0c0c0;
}

.node-form .nf-content {
	position: absolute;
	bottom: 60px;
	right: 0;
	top: 60px;
	left: 0;
}

.node-form .nf-content textarea {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.node-form .nf-buttons {
	position: absolute;
	height: 40px;
	right: 0;
	bottom: 0;
	box-sizing: border-box;
}

.node-form .nf-ok {
	display: block;
	float: left;
	font-weight: bold;
	padding: 8px 35px;
	background-color: #0098bb;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	margin-left: 15px;
}

.node-form .nf-cancel {
	display: block;
	height: 100%;
	top: 12px;
	float: left;
	position: relative;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}